# node.js
/package/
/config.json
node_modules/
npm-debug.log
*.tgz

# editors
/.idea/dictionaries/
/.idea/*.local.xml
/.idea/workspace.xml
*.kate-swp
*.swp
*~

# git
*.orig

# vagrant
/.vagrant/

# file managers
.DS_Store
.directory
